body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cartContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemsColumn {
  flex: 2;
}

.summaryColumn {
  flex: 1;
}

.cartItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 1px black;
  margin: 1rem;
  padding: 1rem;
}
