body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Cart styling */
.cartContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.itemsColumn {
  flex: 3;
}

.summaryColumn {
  flex: 2;
}

.cartItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 1px black;
  margin: 1rem;
  padding: 1rem;
}

.cartImageCol {
  flex: 1;
}

.cartImageCol > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cartInfoCol {
  flex: 2;
}

.cartQuantityCol {
  flex: 1;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Cart styling */
